# Build directories
build/
Debug/
Release/
cmake-build-*/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# IDE
.codelite/
.vscode/
.idea/
*.opensdf
*.sdf

# Compiled objects
*.o
*.d

# Other
*.log
